.player-board {
  color: white;
  background: url("img/playerboard-background-bottom.jpg");
  background-position: bottom;
  background-size: cover;
  background-color: #008abe;
}
.player-board[data-player-color=ff0000]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #ff0000;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color="008000"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #008000;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color="0000ff"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #0000ff;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color=ffa500]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #ffa500;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board[data-player-color="982fff"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: url("img/playerboard-background.png"), #982fff;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 2px #8181c7;
  border-radius: 8px;
}
.player-board .player-name,
.player-board .player-name a {
  color: white !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.player-board .player_score_value {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.player-board .token {
  background-image: url("img/tokens.png");
}
.player-board .token[data-player-color=d8d7d7] {
  background-position: 0% 50%;
}
.player-board .token[data-player-color=df74b2] {
  background-position: 20% 50%;
}
.player-board .token[data-player-color=eca51c] {
  background-position: 40% 50%;
}
.player-board .token[data-player-color="77bd25"] {
  background-position: 60% 50%;
}
.player-board .token[data-player-color="30b0e1"] {
  background-position: 80% 50%;
}
.player-board .token[data-player-color=df3e33] {
  background-position: 100% 50%;
}
.player-board .additional-icons {
  display: flex;
  gap: 5px;
  align-items: center;
}
.player-board .xpd-help-icon.xpd-help-icon-mini {
  position: relative;
  top: 50%;
  transform: translateY(-8%);
  width: 15px;
  height: 15px;
  font-size: 10pt;
  margin-left: 5px;
}
.player-board .pie {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #808080;
  line-height: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 3px 2px darkslategrey;
}
.player-board .pie.active-round {
  box-shadow: 0 0 3px 2px greenyellow;
}
.player-board .pie > div {
  display: inline-block;
  width: 40px;
  height: 20px;
}
.player-board .pie-2-sections.round-1 {
  background: rgb(0, 125, 165);
}
.player-board .pie-2-sections.round-1 > div:nth-child(1) {
  background: rgb(78, 114, 32);
}
.player-board .pie-2-sections.round-2 {
  background: rgb(78, 114, 32);
}
.player-board .pie-2-sections.round-2 > div:nth-child(1) {
  background: rgb(223, 153, 37);
}
.player-board .pie-2-sections.round-3 {
  background: rgb(0, 125, 165);
}
.player-board .pie-2-sections.round-3 > div:nth-child(1) {
  background: rgb(190, 30, 26);
}
.player-board .pie-3-sections > div {
  display: inline-block;
  width: 20px;
  height: 25px;
}
.player-board .pie-3-sections.round-4 {
  background: rgb(78, 114, 32);
}
.player-board .pie-3-sections.round-4 > div:nth-child(1) {
  background: rgb(223, 153, 37);
  transform: skewY(155deg);
}
.player-board .pie-3-sections.round-4 > div:nth-child(2) {
  background: rgb(190, 30, 26);
  transform: skewY(-155deg);
}
.player-board .pie-3-sections.round-5 {
  background: rgb(0, 125, 165);
}
.player-board .pie-3-sections.round-5 > div:nth-child(1) {
  background: rgb(190, 30, 26);
  transform: skewY(155deg);
}
.player-board .pie-3-sections.round-5 > div:nth-child(2) {
  background: rgb(223, 153, 37);
  transform: skewY(-155deg);
}

.help-card {
  width: 355px;
  height: 480px;
}
.help-card.recto {
  background: url("img/help1.jpg") no-repeat;
}
.help-card.verso {
  background: url("img/help2.jpg") no-repeat;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-weight: bold;
}
.counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counters .counter span {
  padding: 0 5px 0 5px;
}

.additional-info {
  column-gap: 5px;
  justify-content: space-evenly;
}

.player-turn-order {
  user-select: none;
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.playerOrderHelp {
  padding: 3px;
}

#first-player {
  background: url("img/first-player.png");
  width: 48px;
  height: 48px;
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #900;
  color: white;
  text-shadow: 0 0 1px #900, 0 0 5px #900, 0 0 6px #900, 0 0 7px #900;
}
#last-round .last-round-text {
  display: inline-block;
}
#last-round .last-round-text.animate {
  animation: last-round-animation 2s 1 forwards ease-in-out;
}

@keyframes last-round-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
.preference_choice .row-data.row-data-large {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.preference_choice .row-data.row-data-large .row-label {
  white-space: normal;
}
.preference_choice .row-data.row-data-large .row-value {
  flex: 1;
  margin-left: unset;
  min-width: 200px;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton,
  #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
.show-player-tableau {
  height: 26px;
  grid-column: 2 !important;
  z-index: 1;
  justify-self: end;
  color: #016f99;
}
.show-player-tableau a {
  color: #016f99;
}
.show-player-tableau svg {
  height: 100%;
  width: auto;
}

.anchor-up {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 35px;
  margin-top: -40px;
}
.anchor-up a {
  color: #016f99;
}
.anchor-up svg {
  height: 100%;
  width: auto;
  color: inherit;
}

#generalactions .show-player-tableau {
  height: 18px;
  width: 11px;
  display: inline-block;
  margin-left: 5px;
  color: black;
}
#generalactions .show-player-tableau a {
  color: black;
}

.inherit-color {
  color: inherit;
}

#score {
  display: none;
  justify-content: center;
  margin-bottom: 10px;
}
#score #table-wrapper {
  padding: 20px;
  background-size: 100% 100%;
  background-color: #008abe;
  border-radius: 15px;
}
#score #table-wrapper table tbody tr {
  border-top: 1px solid #459dbe;
}
#score #table-wrapper table td:not(:first-child),
#score #table-wrapper table th:not(:first-child) {
  border-left: 1px solid #459dbe;
}
#score #table-wrapper table tr {
  height: 40px;
}
#score #table-wrapper table tr th {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 1px #054259, 0px 0px 2px #054259, 0px 0px 3px #054259;
  padding: 6px;
}
#score #table-wrapper table tr td {
  width: 60px;
  text-align: center;
}
#score #table-wrapper table tr td:not(:first-child) {
  font-size: 150%;
  color: white;
  text-shadow: 0px 0px 1px #054259, 0px 0px 2px #054259, 0px 0px 3px #054259;
}
#score #table-wrapper table tr td.player-name {
  color: #054259;
  width: 181px;
  font-weight: bold;
  text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white;
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 120%;
}
#score #table-wrapper table tr td.total {
  font-weight: bold;
}
#score #table-wrapper table .score-goal {
  width: 10px;
  height: 10px;
}
#score #table-wrapper table .score-goal-blue {
  background-color: rgb(0, 125, 165);
}
#score #table-wrapper table .score-goal-yellow {
  background-color: rgb(223, 153, 37);
}
#score #table-wrapper table .score-goal-red {
  background-color: rgb(190, 30, 26);
}
#score #table-wrapper table .score-goal-green {
  background-color: rgb(78, 114, 32);
}
#score .score-number {
  transition: color 0.5s ease-in-out;
}
#score .score-number.animatedScore {
  color: red !important;
  /*animation:  grow-then-shrink-animation 3s ;*/
}

.round-tooltip h1 {
  font-size: 1.5em;
  color: #016f99;
}
.round-tooltip .tooltip-score {
  font-weight: bold;
}
.round-tooltip .tooltip-score.tooltip-goal-blue {
  color: rgb(0, 125, 165);
}
.round-tooltip .tooltip-score.tooltip-goal-yellow {
  color: rgb(223, 153, 37);
}
.round-tooltip .tooltip-score.tooltip-goal-red {
  color: rgb(190, 30, 26);
}
.round-tooltip .tooltip-score.tooltip-goal-green {
  color: rgb(78, 114, 32);
}

@keyframes grow-then-shrink-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 830px) {
  #player-tables .player-table {
    grid-template-columns: 1fr !important;
  }
  #player-tables .player-table .nml-player-hand {
    grid-column: 1 !important;
    grid-row: 1 !important;
  }
  #player-tables .player-table .nml-reserve {
    grid-column: 1 !important;
    grid-row: 2 !important;
  }
  #player-tables .player-table .nml-player-name {
    grid-column: 1 !important;
    grid-row: 3 !important;
  }
}
.current_player_is_active .nimalia-card:not(.bga-cards_disabled-card) .nml-rotate {
  display: block !important;
}

#player-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#player-tables .player-table {
  display: grid;
  z-index: 25;
  gap: 10px;
  margin: 10px;
  grid-template-columns: 1fr 1fr;
  width: min-content;
  /*.bga-cards_disabled-card{
  	:not(.bga-cards_disabled-card){
  }*/
}
#player-tables .player-table .nml-player-hand {
  grid-column: 1;
  grid-row: 1;
}
#player-tables .player-table .nml-player-name {
  grid-column: 2;
  grid-row: 2;
}
#player-tables .player-table .nml-reserve {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0px;
  background-color: #008abe;
  margin-left: 10px;
  margin-right: 10px;
}
#player-tables .player-table .nml-reserve .nml-square {
  width: 100px;
  height: 100px;
  border: 1px inset lightblue;
  box-sizing: border-box;
  display: grid;
}
#player-tables .player-table .nml-reserve .nml-square > .nimalia-card {
  grid-row: 1;
  grid-column: 1;
}
#player-tables .player-table .nml-reserve .nml-square .nimalia-card:not(.local-change) {
  pointer-events: none;
}
#player-tables .player-table .nml-reserve .nml-card-order-1 {
  z-index: 1;
}
#player-tables .player-table .nml-reserve .nml-card-order-2 {
  z-index: 2;
}
#player-tables .player-table .nml-reserve .nml-card-order-3 {
  z-index: 3;
}
#player-tables .player-table .nml-reserve .nml-card-order-4 {
  z-index: 4;
}
#player-tables .player-table .nml-reserve .nml-card-order-5 {
  z-index: 5;
}
#player-tables .player-table .nml-reserve .nml-card-order-6 {
  z-index: 6;
}
#player-tables .player-table .nml-reserve .nml-card-order-7 {
  z-index: 7;
}
#player-tables .player-table .nml-reserve .nml-card-order-8 {
  z-index: 8;
}
#player-tables .player-table .nml-reserve .nml-card-order-9 {
  z-index: 9;
}
#player-tables .player-table .nml-reserve .nml-card-order-10 {
  z-index: 10;
}
#player-tables .player-table .nml-reserve .nml-card-order-11 {
  z-index: 11;
}
#player-tables .player-table .nml-reserve .nml-card-order-12 {
  z-index: 12;
}
#player-tables .player-table .nml-reserve .nml-card-order-13 {
  z-index: 13;
}
#player-tables .player-table .nml-reserve .nml-card-order-14 {
  z-index: 14;
}
#player-tables .player-table .nml-reserve .nml-card-order-15 {
  z-index: 15;
}
#player-tables .player-table .nml-reserve .nml-card-order-100 {
  z-index: 100;
}
#player-tables .player-table .nml-reserve .last-move {
  box-shadow: 0 0 8px 1px greenyellow;
}
#player-tables .player-table .nml-player-name {
  bottom: 8px;
  z-index: 100;
  width: 100%;
  left: 0px;
  color: white;
  font-weight: bold;
  text-align: center;
}
#player-tables .player-table .nml-rotate {
  display: none;
  color: #5b1a3d;
  top: 50%;
  position: absolute;
  transform-style: preserve-3d;
  z-index: 101;
  cursor: pointer;
  box-shadow: 0 0 10px 7px white;
}
#player-tables .player-table .nml-rotate:hover {
  scale: 1.2;
}
#player-tables .player-table .nml-rotate.nml-rotate-left {
  left: 2%;
}
#player-tables .player-table .nml-rotate.nml-rotate-right {
  right: 2%;
}
#player-tables .player-table .front[data-rotation="90"] {
  rotate: 90deg;
}
#player-tables .player-table .front[data-rotation="180"] {
  rotate: 180deg;
}
#player-tables .player-table .front[data-rotation="270"] {
  rotate: 270deg;
}

/*
 * Controls in the top bar
 */
#player_config {
  margin: 10px 0px;
}
#player_config #player_config_row {
  display: flex;
  justify-content: right;
  align-items: center;
}
#player_config #player_info_row {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 10px;
}
#player_config #show-settings {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#player_config #show-settings:hover {
  color: grey;
}
#player_config #show-settings:hover .fa-primary {
  transform: rotate(180deg);
}
#player_config #show-settings svg {
  width: 23px;
  height: 23px;
  opacity: 0.5;
}
#player_config #show-settings .fa-primary {
  transform-origin: 216px 255px;
  transition: transform 1s;
}

#settings-controls-container {
  position: relative;
  text-align: center;
  margin-top: 10px;
  background: linear-gradient(180deg, #f8f8f8, #e7e9e8);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}
#settings-controls-container .row-data {
  border: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}
#settings-controls-container .row-data .row-label {
  width: 100%;
  float: none;
  color: black;
  padding-bottom: 0px;
  text-overflow: initial;
  white-space: normal;
  padding: 2px 4px 0px;
}
#settings-controls-container .row-data .row-value {
  width: 85%;
  margin: 0;
}
#settings-controls-container .row-data #layout-control-card-animation {
  display: flex;
  justify-content: center;
  align-items: center;
}
#settings-controls-container .row-data #layout-control-card-animation svg {
  height: 30px;
  width: auto;
}
#settings-controls-container .row-data #layout-control-card-animation #layout-control-card-animation-speed {
  flex-grow: 1;
  margin: 5px;
}

#settings-controls-container.settingsControlsHidden {
  display: none;
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}

.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2);
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}

.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}

.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}

.card-stock.all-visible-deck.vertical:hover, .card-stock.all-visible-deck.vertical:active, .card-stock.all-visible-deck.vertical.opened {
  height: calc((var(--height) + var(--vertical-shift)) * var(--tile-count) - var(--vertical-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.vertical:hover > .card, .card-stock.all-visible-deck.vertical:active > .card, .card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}

.card-stock.all-visible-deck.horizontal:hover, .card-stock.all-visible-deck.horizontal:active, .card-stock.all-visible-deck.horizontal.opened {
  width: calc((var(--width) + var(--horizontal-shift)) * var(--tile-count) - var(--horizontal-shift));
  z-index: 1;
}

.card-stock.all-visible-deck.horizontal:hover > .card, .card-stock.all-visible-deck.horizontal:active > .card, .card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}

.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}

.card-stock.all-visible-deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck[data-empty=true] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

html {
  background-image: url("img/background.jpg");
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}

.stockitem {
  border-radius: 6px;
  background-size: 1000%;
}
.stockitem.disabled {
  filter: contrast(0.6);
  cursor: not-allowed;
}

.css-icon {
  width: 25px;
  height: 25px;
  background-color: #dce5eb;
  border-radius: 50%;
  text-align: center;
  font-weight: bolder;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #016f99;
  cursor: pointer;
  pointer-events: auto;
}
.css-icon.card-info {
  width: 25px;
  height: 25px;
  position: relative;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgb(21, 104, 134);
}

.card .card-sides .card-side.front .card-info {
  pointer-events: all;
}

.card {
  width: 200px;
  height: 200px;
}

.card-side.front {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 6px;
  box-shadow: 0 0 8px 1px black;
  pointer-events: all;
}
.card-side.front.animated {
  transition: transform 0.5s;
}

.bga-cards_selected-card:not(.bga-cards_disabled-card) {
  box-shadow: 0 0 5px 3px greenyellow;
}
.bga-cards_selected-card:not(.bga-cards_disabled-card) .card-side {
  box-shadow: unset;
}

/*.round-wrapper{
    position: relative;

    > * {
        position: absolute;
        left: 0;   
        top: 0;
    }
}*/
#goals {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
#goals #goals-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#goals #goals-wrapper .nml-goal {
  width: 160px;
  height: 160px;
  border-radius: 6px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.7);
  display: inline-block;
}
#goals #goals-wrapper .nml-goal.nml-active-goal {
  box-shadow: 0 0 8px 1px greenyellow;
}

.nml-round {
  width: 1.3em;
  height: 1.3em;
  font-size: xx-large;
}
