.player-table {
    display: flex;
    z-index: 25; // so new animations are over the map
}

.player-name {
    bottom: 8px;
    z-index: 100;
    width: 100%;
    left: 0px;
    color: #1f273b;
    font-weight: bold;
    text-align: center;
}
