@media only screen and (max-width: 1024px) {
	#player-tables {
		.player-table {
			grid-template-columns: 1fr !important;

			.nml-player-hand {
				grid-column: 1 !important;
				grid-row: 1 !important;

				width: unset !important;
				height: 200px !important;
			}
			.reserve-wrapper {
				grid-column: 1 !important;
				grid-row: 2 !important;
			}
			.nml-player-name {
				grid-column: 1 !important;
				grid-row: 3 !important;
			}
		}
	}
}

.current_player_is_active {
	.nimalia-card {
		&:not(.bga-cards_disabled-card) {
			.nml-rotate {
				display: block !important;
			}
		}
		&.local-change {
			.nml-rotate {
				display: block !important;
			}
		}
	}

	#player-tables .own .reserve-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		align-items: center;
		.nml-control {
			font-size: xx-large;
			display: flex;
			color: white;
			background-color: #016f99;
			font-weight: bolder;
			width: 20px;
			height: 20px;
			&.grid-up {
				grid-column: 2;
				grid-row: 1;
			}
			&.grid-down {
				grid-column: 2;
				grid-row: 3;
			}
			&.grid-left {
				grid-column: 1;
				grid-row: 2;
			}
			&.grid-right {
				grid-column: 3;
				grid-row: 2;
			}
			&.disabled {
				color: gray;
			}
		}

		.nml-reserve {
			grid-column: 1;
			grid-row: 1;
		}
	}
}

.gamestate_placeCard {
	.nml-card-selected {
		.nml-square:not(.dropzone) {
			cursor: not-allowed;
		}
		.dropzone {
			cursor: pointer;
		}
	}
}

#player-tables {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.player-table {
		display: grid;
		z-index: 25; // so new animations are over the map
		gap: 10px;
		margin: 10px;
		grid-template-columns: 1fr 1fr;
		width: min-content;

		.nml-player-hand {
			grid-column: 1;
			grid-row: 1;
			width: 200px;
			height: unset;
		}
		.nml-player-name {
			grid-column: 2;
			grid-row: 2;
		}

		.nml-control {
			display: none;
		}

		.nml-reserve-squares-wrapper {
			display: grid;
			grid-column: 2;
			grid-row: 2;
		}

		.reserve-wrapper {
			grid-column: 2;
			grid-row: 1;
			display: grid;

			.nml-square {
				width: 100px;
				height: 100px;
				border: 1px inset lightblue;
				box-sizing: border-box;
				display: grid;

				> .nimalia-card {
					grid-row: 1;
					grid-column: 1;
				}

				.nimalia-card:not(.local-change) {
					pointer-events: none;
				}
			}

			@for $i from 1 through 15 {
				.nml-card-order-#{$i} {
					z-index: $i;
				}
			}

			.nml-card-order-100 {
				z-index: 100;
			}

			.last-move {
				box-shadow: 0 0 8px 1px greenyellow;
			}
		}

		.nml-reserve-background {
			color: white;
			background-color: #008abe;

			.nml-square {
				font-size: xxx-large;
				align-items: center;
				justify-content: center;
				opacity: 0.1;
				pointer-events: none;
			}
		}
		.nml-reserve,
		.nml-reserve-background {
			grid-column: 1;
			grid-row: 1;
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(6, 1fr);
			grid-gap: 0px;
		}

		.nml-player-name {
			bottom: 8px;
			z-index: 100;
			width: 100%;
			left: 0px;
			color: white;
			font-weight: bold;
			text-align: center;
		}

		/*.bga-cards_disabled-card{
			:not(.bga-cards_disabled-card){
		}*/

		.nml-rotate {
			display: none;
			color: #5b1a3d;
			top: 50%;
			position: absolute;
			transform-style: preserve-3d;
			z-index: 101;
			cursor: pointer;
			box-shadow: 0 0 10px 7px white;

			&:hover {
				scale: 1.2;
			}

			&.nml-rotate-left {
				left: 2%;
			}
			&.nml-rotate-right {
				right: 2%;
			}
		}

		.front {
			transition: rotate 0.2s;
			-moz-transform: translateZ(-1px); //firefox bug not displaying 180° rotated cards
			&[data-rotation='90'] {
				rotate: 90deg;
			}
			&[data-rotation='180'] {
				rotate: 180deg;
			}
			&[data-rotation='270'] {
				rotate: 270deg;
			}
		}
	}
}
