#score {
    display: none;
    justify-content: center;

    #table-wrapper {
        padding: 40px;
        //background: url('img/score-background.png');//todo find something
        background-size: 100% 100%;

        table {

            tbody {
                tr {
                    border-top: 1px solid #459dbe;
                }
            }

            td, th {
                &:not(:first-child) {
                    border-left: 1px solid #459dbe;
                }
            }

            tr {
                height: 40px;

                th {
                    text-align: center;
                    color: white;
                    text-shadow: 0px 0px 1px #054259, 0px 0px 2px #054259, 0px 0px 3px #054259;
                    padding: 8px;
                }

                td {
                    width: 100px;
                    text-align: center;

                    &:not(:first-child) {
                        font-size: 150%;
                        color: white;
                        text-shadow: 0px 0px 1px #054259, 0px 0px 2px #054259, 0px 0px 3px #054259;
                    }

                    &.player-name {
                        color: #054259;
                        width: 181px;
                        font-weight: bold;
                        text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white;
                        word-break: break-all;
                        text-overflow: ellipsis;
                        font-size: 120%;
                    }

                    &.total {
                        font-weight: bold;
                    }

                    
                }
                &.highlight {
					
				}
            }
        }
    }
}

@keyframes bonus-card-animation {
	0% {
		transform: scale(0.15);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.15);
	}
}
